<div class="love-container" data-handle="{{ prod.handle }}">
<span class="love-icon">
    {% render 'icon' with 'love' %}
</span> 
<!-- <span class="love-text">{{ 'wishlist.wishlist_out' | t }}</span> -->
</div>