<div class="error">
    <h1> <a href="{{ gift_card.pass_url }}"></a></h1>
  
  {% comment %}
    <div class="error-title">
        <h1 class="section-title"><span class="underline">{{ 'general.404.title' | t }}</span></h1>
        <p>{{ 'general.404.subtext_html' | t }}</p>
    </div>
  {% endcomment %}
    {% section 'search-error' %}
    {% section 'list-collections-error' %}
  
   {% section 'home-doble-banner' %}
  
  
  {% comment %}  {% section 'home-discount' %}{% endcomment %}
   
    {% section 'home-newsletter-AC' %}
</div>

<style>
    .error {
        background-color: #fff;
    }

    .error-title {
        padding: 5rem 0;
    }

    .error-title h1 {
        margin: 1rem 0;
    }

    .error-title p {
        text-align: center;
        font-family: futura, sans-serif';

    }
</style><script id="esc-redirects-404-script" src="https://redirects.eastsideco.io/js/app.js"></script>