{%- layout none -%}
{%- paginate collection.products by 6 -%}
{%- if collection.products.size == 0 -%}
<div class="endcollection container container--no-products-in-collection text-align-center has-padding-bottom has-padding-top">
  <div class="one-whole column">
    <p>Fin de la colección</p>
  </div>
</div>
{%- else -%}
  {%- for prod in collection.products -%} 
      {%- if prod.available or prod.tags contains 'mostrar_aunque_agotado' -%} 
         {%- include 'collection-card' with prod -%}  
      {%- endif -%} 
  {%- endfor -%}
{%- endif -%}
{%- endpaginate -%}